* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #05001f;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 7px;
  background: #181823;
}

body::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #2D9596;
  border-radius: 5px;
}

.titulo-principal {
  text-align: center;
}
.titulo-principal h2 {
  position: relative;
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 30px;
  color: #9d0208;
}
.titulo-principal h2 span {
  color: #11BFBF;
}

header {
  /*Imagen de <a href="https://pixabay.com/es/users/tumisu-148124/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4168483">Tumisu</a> en <a href="https://pixabay.com/es//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4168483">Pixabay</a>*/
  background: url("../img/bg.jpg"), #05001f;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 600px;
  min-width: 100%;
}
header .menu {
  /* Para fijar el menu */
  position: fixed;
  z-index: 1000;
  /* Para fijar el menu */
  top: 0;
  right: 0;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #f2f2f2;
  background-color: #6a040f;
  cursor: pointer;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin: 1rem 0.4rem;
}
header .menu a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  text-shadow: 0.05em 0.04em 0.4em #05001f;
}
header .menu a:hover {
  background-color: #05001f;
  text-shadow: 0.05em 0.04em 0.4em #11BFBF;
  border: 2px solid #11BFBF;
}
header .menu a i:hover {
  color: #f2f2f2;
}
header .contenedor-texto {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 190px 0;
}
header .contenedor-texto .texto {
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  padding: 20px 60px;
  background: linear-gradient(164deg, rgb(0, 31, 52) 0%, rgb(8, 26, 36) 100%);
  /* Hay dos selectores */
}
header .contenedor-texto .texto h1, header .contenedor-texto .texto h2 {
  color: #f2f2f2;
  font-weight: 300;
  margin: 0;
}
header .contenedor-texto .texto .nombre {
  margin-bottom: 10px;
  font-size: 3.2rem;
  line-height: 50px;
}
header .contenedor-texto .texto .nombre .bold {
  color: #bf0603;
  font-weight: 600;
}
header .contenedor-texto .texto .profesion {
  font-size: 25px;
  line-height: 25px;
}
header .contenedor-texto .texto .profesion .bold {
  color: #d00000;
  font-weight: 600;
}

.main .acerca-de {
  text-align: center;
}
.main .acerca-de .contenedor {
  overflow: visible;
}
.main .acerca-de .contenedor .foto {
  margin-top: -60px;
}
.main .acerca-de .contenedor .foto img {
  background: #05001f;
  height: 150px;
  border-radius: 50%;
  vertical-align: top;
  border: 5px solid #f2f2f2;
}
.main .acerca-de .contenedor .texto {
  color: #7D7C7C;
  font-weight: 600;
  font-size: 1em;
  line-height: 30px;
  width: 80%;
  margin: 40px auto 60px auto;
}
.main .acerca-de .contenedor .texto .bold {
  color: #11BFBF;
}
.main .trabajos {
  background: #f2f2f2;
  padding: 60px 0;
}
.main .trabajos .contenedor {
  overflow: hidden;
}
.main .trabajos .contenedor .portfolios {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}
.main .trabajos .contenedor .portfolios .portfolio-item {
  position: relative;
  border-radius: 15px;
}
.main .trabajos .contenedor .portfolios .portfolio-item:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}
.main .trabajos .contenedor .portfolios .portfolio-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.main .trabajos .contenedor .portfolios .portfolio-item .hover-items {
  width: 100%;
  height: 100%;
  background-color: #05001f;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.main .trabajos .contenedor .portfolios .portfolio-item .hover-items h3 {
  color: #a4161a;
  margin-bottom: 1.3rem;
  text-align: center;
}
.main .trabajos .contenedor .portfolios .portfolio-item .hover-items h4 {
  color: #11BFBF;
  margin-bottom: 1.5rem;
  text-align: center;
}
.main .trabajos .contenedor .portfolios .portfolio-item .hover-items .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .trabajos .contenedor .portfolios .portfolio-item .hover-items .icons .icon {
  background-color: #2a2e35;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  text-shadow: 0.05em 0.04em 0.4em #f2f2f2;
  text-decoration: none;
}
.main .trabajos .contenedor .portfolios .portfolio-item .hover-items .icons .icon:hover {
  background-color: #6e5494;
}
.main .trabajos .contenedor .portfolios .portfolio-item .hover-items .icons .icon i {
  font-size: 1.8rem;
  color: #f2f2f2;
  margin: 0 1rem;
}
.main .trabajos .contenedor .portfolios .portfolio-item .hover-items .icons .icon:hover i {
  /*Es el color hover del icono en mi portafolio*/
  color: #f2f2f2;
}

footer .contacto {
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer .contacto .formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
footer .contacto .formulario input[type=text],
footer .contacto .formulario input[type=email],
footer .contacto .formulario textarea {
  border: 2px solid #7D7C7C;
  border-radius: 15px;
  padding: 15px 20px;
  font-size: 15px;
  color: #11BFBF;
  background: none;
}
footer .contacto .formulario input[type=text],
footer .contacto .formulario input[type=email],
footer .contacto .formulario textarea:focus {
  outline: none;
  border: 2px solid #f2f2f2;
}
footer .contacto .formulario input[type=email],
footer .contacto .formulario input[type=text] {
  width: 99%;
  margin-bottom: 15px;
}
footer .contacto .formulario textarea {
  width: 99%;
  height: 90px;
  min-width: 99%;
  margin-bottom: 15px;
  min-height: 100px;
  max-height: 300px;
}
footer .contacto .submit-btn {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
footer .contacto .submit-btn .main-btn {
  border-radius: 30px;
  color: #f2f2f2;
  font-weight: 600;
  position: relative;
  border: 1px solid #9d0208;
  display: flex;
  align-self: flex-end;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
  font-size: 18px;
}
footer .contacto .submit-btn .main-btn .btn-text {
  color: #f2f2f2;
  padding: 0 1.4rem;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
}
footer .contacto .submit-btn .main-btn .btn-icon {
  background-color: #9d0208;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.5rem;
}
footer .contacto .submit-btn .main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.3s ease-out;
  z-index: -1;
}
footer .contacto .submit-btn .main-btn:hover {
  transition: all 0.3s ease-out;
}
footer .contacto .submit-btn .main-btn:hover::before {
  width: 100%;
  height: 100%;
  /*Es el color de hover del botn*/
  background-color: #9d0208;
  transform: translateX(0);
  transition: all 0.3s ease-out;
}
footer .redes-sociales {
  background: #05001f;
  padding-top: 10px;
  padding-bottom: 50px;
}
footer .redes-sociales .contenedor {
  display: flex;
  justify-content: center;
}
footer .redes-sociales .contenedor a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f2f2f2;
  text-shadow: 0.05em 0.04em 0.4em #f2f2f2;
  background-color: #2a2e35;
  cursor: pointer;
  justify-content: center;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  margin: 0 0.4rem;
  transition: all 0.4s ease-in-out;
}
footer .redes-sociales .contenedor a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}
footer .redes-sociales .contenedor a:hover {
  background-color: #6e5494;
}
footer .redes-sociales .contenedor a:hover i {
  color: #f2f2f2;
  text-shadow: 0.05em 0.04em 0.4em #f2f2f2;
}
footer .redes-sociales .contenedor .github:hover {
  background-color: #6e5494;
}
footer .redes-sociales .contenedor .github:hover i {
  color: #f2f2f2;
  text-shadow: 0.05em 0.04em 0.4em #f2f2f2;
}
footer .redes-sociales .contenedor .linkedin:hover {
  background-color: #f2f2f2;
}
footer .redes-sociales .contenedor .linkedin:hover i {
  color: #0077b5;
  text-shadow: 0.05em 0.04em 0.4em #f2f2f2;
}/*# sourceMappingURL=estilos.css.map */